{% extends 'base.html' %}
{% load static %}
{% block head_title %}Home{% endblock head_title %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 m-auto col-ml-8 col-sm-8">
            <div class="card mt-5">
                <div class="card-body">
                    <h1>how to make a website</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quod placeat eligendi natus
                        tempora consectetur mollitia provident dolores est velit voluptate libero facere aliquid,
                        laborum expedita veritatis id nam ex ab quos quasi aspernatur culpa? Voluptatum laborum
                        veritatis asperiores quos inventore quod deserunt repellat fuga accusamus eum corrupti, sequi
                        nemo?
                    </p>
                    <button class="btn btn-primary">More</button>
                    <button class="btn btn-primary float-right">Add product</button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}