{% extends 'base.html' %}
{% load static %}
{% block head_title %}Home{% endblock head_title %}
{% block main_content %}

<div class="blog-post-area mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 m-auto">
                <div class="card mb-5">
                    <div class="card-body">
                        <h4>how to make django project.</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cupiditate, quasi, optio modi inventore
                            neque aliquid eum voluptatum quod quas harum vel mollitia est. Eum vero tempora reiciendis aliquam nisi.
                        </p>
                        <a href="#" class="btn btn-primary">more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}