{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ post.title }}{% endblock head_title %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 m-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h4>{{ post.title }}</h4>
                    <p>
                       {{ post.body }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}