{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ post.title }}{% endblock head_title %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-xl-6 m-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary">update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}